body{
    background-color: rgb(236, 234, 234);
}

/*Whole page grid layout*/
.youtube-videos{
    column-gap: 13px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    display: grid;
    grid-template-columns: 100px, 1fr;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 400px;


}
/*Video preview*/
.video-preview{
    background-color: #fff;
    border: none;
    padding-bottom: 10;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

}
/*The main image on the video preview*/
.thumbnail{
    border: none;
    height: 170px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}
.thumbnail-row{
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 0;
    z-index: 0;
}

/*Video time */
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 10px;
    right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
}
/* Grid for Video descriptio, author name and stats*/
.video-info{
    vertical-align: top;    
    display: grid;
    grid-template-columns: 45px 1fr;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0px;
    padding-bottom: 10px;
}
/* The proofile picture of the author of the channel*/
.channel-dp{
    border: none;
    border-radius: 15px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    width: 30px;   
}
/*video description*/
.video-descr{
    margin-left: -8px;
}
/* video title */
.video-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 0;
   
}
/* video statistics*/
.video-stats{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 7px;
}
/*Name of the channel*/
.channel-name{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0px;
}

